<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @teacher.experience %>
</p>

<p>
  <strong>Field:</strong>
  <%= @teacher.field %>
</p>

<p>
  <strong>Address:</strong>
  <%= @teacher.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @teacher.user_id %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
